*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
functions/
# Signing files

.signing/

# node files
*/node_modules/

# User-specific configurations

.idea/libraries/

.idea/workspace.xml

.idea/tasks.xml

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

*.iml
.Trashes

.idea/caches/build_file_checksums.ser
